snippet bzccgtes 
cc_test(
    name = "$1_test",
    srcs = ["$1_test.cpp"],
    copts = ["-Iexternal/gtest/include"],
    deps = [
        ":$1",
        "@gtest//:main",
    ],
)
endsnippet

snippet bzcclib
cc_library(
    name = "$1",
	srcs = ["$1.cpp"],
    hdrs = ["$1.h"],
    deps = [
    ],
)
endsnippet
